flows.json
[
    {
        "id": "67fe138b0c981577",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eaa5f179e8e794de",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9a93476ed73e6bf8",
        "type": "ui_tab",
        "name": "Smart Web",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90fed347ce878261",
        "type": "ui_group",
        "name": "Điều khiển hệ thống",
        "tab": "9a93476ed73e6bf8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "78cc0ec5756aec1a",
        "type": "ui_group",
        "name": "Nhiệt độ",
        "tab": "9a93476ed73e6bf8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bf2fdbbbb9bf9cbb",
        "type": "firebase config",
        "firebaseurl": "smartweb-86598-default-rtdb",
        "loginType": "jwt"
    },
    {
        "id": "f731eaa022325504",
        "type": "ui_group",
        "name": "Độ ẩm",
        "tab": "9a93476ed73e6bf8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "50e2cef5f79d3bfc",
        "type": "ui_spacer",
        "z": "67fe138b0c981577",
        "name": "spacer",
        "group": "78cc0ec5756aec1a",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "34e63366e98160d5",
        "type": "ui_gauge",
        "z": "67fe138b0c981577",
        "name": "",
        "group": "78cc0ec5756aec1a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "0aaaa3bda4b382f4",
        "type": "ui_gauge",
        "z": "67fe138b0c981577",
        "name": "",
        "group": "f731eaa022325504",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Độ ẩm",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "20f925304a94d548",
        "type": "firebase.on",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/giamsat/nhietdo",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "34e63366e98160d5",
                "a8f2c33ffc771315"
            ]
        ]
    },
    {
        "id": "7493dc2683a219a9",
        "type": "firebase.on",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/giamsat/doam",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "0aaaa3bda4b382f4",
                "36b9e77d61adc74b"
            ]
        ]
    },
    {
        "id": "a8f2c33ffc771315",
        "type": "ui_chart",
        "z": "67fe138b0c981577",
        "name": "",
        "group": "78cc0ec5756aec1a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ nhiệt",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "36b9e77d61adc74b",
        "type": "ui_chart",
        "z": "67fe138b0c981577",
        "name": "",
        "group": "f731eaa022325504",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ độ ẩm",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fa07a84c7e730f50",
        "type": "function",
        "z": "67fe138b0c981577",
        "name": "",
        "func": "var last_state = context.get(\"state\") || false;\nvar state = last_state\n\nstate = msg.payload == \"PRESS\" ? !state : msg.payload;\n\nif (state == last_state) \n    return null;\n\ncontext.set(\"state\", state);\nmsg.payload = state\n\nmsg.txt = state ? \"Bật\" : \"Tắt\";\nmsg.color = state ? \"default\" : \"grey\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 520,
        "wires": [
            [
                "13ab5ea1686c9dfc",
                "111c8a72b001f240"
            ]
        ]
    },
    {
        "id": "13ab5ea1686c9dfc",
        "type": "ui_button",
        "z": "67fe138b0c981577",
        "name": "Đèn 1",
        "group": "90fed347ce878261",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "PRESS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 900,
        "y": 560,
        "wires": [
            [
                "fa07a84c7e730f50"
            ]
        ]
    },
    {
        "id": "b2690268953801fe",
        "type": "firebase.on",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den1",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "fa07a84c7e730f50"
            ]
        ]
    },
    {
        "id": "111c8a72b001f240",
        "type": "firebase modify",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1330,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a5eb6c935d45d77a",
        "type": "firebase.on",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den2",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 530,
        "y": 660,
        "wires": [
            [
                "9f7bc2f08ac85cd9"
            ]
        ]
    },
    {
        "id": "9f7bc2f08ac85cd9",
        "type": "function",
        "z": "67fe138b0c981577",
        "name": "",
        "func": "var last_state = context.get(\"state\") || false;\nvar state = last_state  // start the same\n\n// Usually we pass through the message and keep the state\n// When pressed, send the opposite of the state\nstate = msg.payload == \"PRESS\" ? !state : msg.payload;\n\n// If the state hasnt changed, stop the sequence here.\n// This matches the normal ui switch behavior\nif (state == last_state) \n    return null;\n\ncontext.set(\"state\", state);\nmsg.payload = state\n\n// Use the new local state (will update when round-tripped)\nmsg.txt = state ? \"Bật\" : \"Tắt\";\nmsg.color = state ? \"default\" : \"grey\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 660,
        "wires": [
            [
                "1e92c37a911a033a",
                "1ae4487a62399b09"
            ]
        ]
    },
    {
        "id": "1e92c37a911a033a",
        "type": "ui_button",
        "z": "67fe138b0c981577",
        "name": "Đèn 2",
        "group": "90fed347ce878261",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "PRESS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 900,
        "y": 700,
        "wires": [
            [
                "9f7bc2f08ac85cd9"
            ]
        ]
    },
    {
        "id": "1ae4487a62399b09",
        "type": "firebase modify",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1330,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "bf2cec33f3a55adf",
        "type": "firebase.on",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den3",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 570,
        "y": 780,
        "wires": [
            [
                "1120b126f44ca3d1"
            ]
        ]
    },
    {
        "id": "1120b126f44ca3d1",
        "type": "function",
        "z": "67fe138b0c981577",
        "name": "",
        "func": "var last_state = context.get(\"state\") || false;\nvar state = last_state  // start the same\n\n// Usually we pass through the message and keep the state\n// When pressed, send the opposite of the state\nstate = msg.payload == \"PRESS\" ? !state : msg.payload;\n\n// If the state hasnt changed, stop the sequence here.\n// This matches the normal ui switch behavior\nif (state == last_state) \n    return null;\n\ncontext.set(\"state\", state);\nmsg.payload = state\n\n// Use the new local state (will update when round-tripped)\nmsg.txt = state ? \"Bật\" : \"Tắt\";\nmsg.color = state ? \"default\" : \"grey\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 780,
        "wires": [
            [
                "0f6039cc4f7ad467",
                "5a2eef9e29063c8b"
            ]
        ]
    },
    {
        "id": "0f6039cc4f7ad467",
        "type": "ui_button",
        "z": "67fe138b0c981577",
        "name": "Đèn 3",
        "group": "90fed347ce878261",
        "order": 7,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "PRESS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 820,
        "wires": [
            [
                "1120b126f44ca3d1"
            ]
        ]
    },
    {
        "id": "5a2eef9e29063c8b",
        "type": "firebase modify",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den3",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1370,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ec5a49234f3dc484",
        "type": "firebase.on",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den4",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 610,
        "y": 900,
        "wires": [
            [
                "03ad722579c24c5b"
            ]
        ]
    },
    {
        "id": "03ad722579c24c5b",
        "type": "function",
        "z": "67fe138b0c981577",
        "name": "",
        "func": "var last_state = context.get(\"state\") || false;\nvar state = last_state  // start the same\n\n// Usually we pass through the message and keep the state\n// When pressed, send the opposite of the state\nstate = msg.payload == \"PRESS\" ? !state : msg.payload;\n\n// If the state hasnt changed, stop the sequence here.\n// This matches the normal ui switch behavior\nif (state == last_state) \n    return null;\n\ncontext.set(\"state\", state);\nmsg.payload = state\n\n// Use the new local state (will update when round-tripped)\nmsg.txt = state ? \"Bật\" : \"Tắt\";\nmsg.color = state ? \"default\" : \"grey\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 900,
        "wires": [
            [
                "f1cc796b2f6af5eb",
                "9859163f8e36769a"
            ]
        ]
    },
    {
        "id": "f1cc796b2f6af5eb",
        "type": "ui_button",
        "z": "67fe138b0c981577",
        "name": "Đèn 4",
        "group": "90fed347ce878261",
        "order": 8,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "PRESS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 980,
        "y": 940,
        "wires": [
            [
                "03ad722579c24c5b"
            ]
        ]
    },
    {
        "id": "9859163f8e36769a",
        "type": "firebase modify",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/den4",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1410,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "baf8c90688089ccf",
        "type": "ui_text",
        "z": "67fe138b0c981577",
        "group": "90fed347ce878261",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Đèn 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "91f3a299e825b1dd",
        "type": "ui_text",
        "z": "67fe138b0c981577",
        "group": "90fed347ce878261",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Đèn 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "a4670d2e8e0cdfb1",
        "type": "ui_text",
        "z": "67fe138b0c981577",
        "group": "90fed347ce878261",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Đèn 3",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "96a3b35911aeb29a",
        "type": "ui_text",
        "z": "67fe138b0c981577",
        "group": "90fed347ce878261",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Đèn 4",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "3035ae70b0d2a905",
        "type": "ui_text",
        "z": "67fe138b0c981577",
        "group": "90fed347ce878261",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mái Vòm",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1280,
        "y": 320,
        "wires": []
    },
    {
        "id": "5a06218a9692a65b",
        "type": "firebase modify",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/maivom",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1290,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "b8c269bbfa263f68",
        "type": "function",
        "z": "67fe138b0c981577",
        "name": "",
        "func": "var last_state = context.get(\"state\") || false;\nvar state = last_state  // start the same\n\n// Usually we pass through the message and keep the state\n// When pressed, send the opposite of the state\nstate = msg.payload == \"PRESS\" ? !state : msg.payload;\n\n// If the state hasnt changed, stop the sequence here.\n// This matches the normal ui switch behavior\nif (state == last_state) \n    return null;\n\ncontext.set(\"state\", state);\nmsg.payload = state\n\n// Use the new local state (will update when round-tripped)\nmsg.txt = state ? \"Bật\" : \"Tắt\";\nmsg.color = state ? \"default\" : \"grey\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1060,
        "wires": [
            [
                "932a138a11427f8b",
                "5a06218a9692a65b"
            ]
        ]
    },
    {
        "id": "932a138a11427f8b",
        "type": "ui_button",
        "z": "67fe138b0c981577",
        "name": "Máy Vòm",
        "group": "90fed347ce878261",
        "order": 10,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "PRESS",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 900,
        "y": 1100,
        "wires": [
            [
                "b8c269bbfa263f68"
            ]
        ]
    },
    {
        "id": "671d3c4327cfa78f",
        "type": "firebase.on",
        "z": "67fe138b0c981577",
        "name": "",
        "firebaseconfig": "bf2fdbbbb9bf9cbb",
        "childpath": "/dieukhien/cua",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 520,
        "y": 1060,
        "wires": [
            [
                "b8c269bbfa263f68"
            ]
        ]
    },
    {
        "id": "781b6c0706430d0f",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "block lấy data từ firebase",
        "info": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "e5aa0ad3f690073c",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "block text để hiển thị trên web",
        "info": "",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "6131fdd2eb1c4c2f",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "blcok biểu đồ nhiệt độ",
        "info": "",
        "x": 1180,
        "y": 60,
        "wires": []
    },
    {
        "id": "44b067382dbe8870",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "",
        "info": "",
        "x": null,
        "y": null,
        "wires": []
    },
    {
        "id": "6892f91a5961f660",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "",
        "info": "",
        "x": null,
        "y": null,
        "wires": []
    },
    {
        "id": "46bf40f7ed4cf4c9",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "Block gauge nhiệt độ",
        "info": "",
        "x": 1180,
        "y": 100,
        "wires": []
    },
    {
        "id": "0112d867917c53f9",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "Block gauge độ ẩm",
        "info": "",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "cbda990ae406dc44",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "Block biểu đồ độ ẩm",
        "info": "",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "3832e241a0f60c09",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "block gửi dữ liệu nút nhấn lên firebase",
        "info": "",
        "x": 1270,
        "y": 480,
        "wires": []
    },
    {
        "id": "aa3abed52d2646e4",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "block đảo trạng thái nút nhấn",
        "info": "",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "b63f07c3f339f497",
        "type": "comment",
        "z": "67fe138b0c981577",
        "name": "block nút nhấn",
        "info": "",
        "x": 900,
        "y": 600,
        "wires": []
    }
]